h1{ font-family:"Comic Sans MS", cursive, sans-serif;
		color: #3399FF;
		font-size: 40pt; 
		text-align:center;
}
h3{ 
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #3399FF;
}

body{ 
		font-family: "Comic Sans MS", cursive, sans-serif;
	}
	
table{
	border: 1px;
	background-color: white;
}
	
	
#right{
	position:absolute;
	right: 400px;
	top: 280px;
}
	
#title{
	position: absolute;
	top: 0;
}

input[type=text], input[type=password] {
    display: block;
    width: 150px;
    border: 1px solid #818181;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 5px;
}

input[type=submit] , form a {
    border: 2px groove black;
    text-decoration: none;
    font-size: 12px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #cfdeff;
    color: black;
    box-shadow: 0 1px 0 white;
    -moz-box-shadow: 0 3px 0 #D0D0D0;
    -webkit-box-shadow: 0 3px 0 #D0D0D0;
}