h1{ font-family:"Comic Sans MS", cursive, sans-serif;
		color: #3399FF;
		font-size: 40pt; 
		text-align:center;
}
h3{ 
	font-family: Impact, Charcoal, sans-serif;
	color: purple;
}

body{ 
		font-family: sans-serif;
	}
	
table{
	border: 5px groove blue; background: grey;
}
	
#jar{
	background-image:url('jar.png');
	background-repeat:no-repeat;
	position:absolute;
	left: 125px;
	width: 400px;
	height:625px;
}
	
#right{
	position:absolute;
	right: 400px;
	top: 280px;
}
	
#title{
	position: absolute;
	top: 0;
}

input[type=text], input[type=password] {
    display: block;
    margin: 0 auto 1em auto;
    width: 150px;
    border: 1px solid #818181;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 5px;
}

input[type=submit] , form a {
    border: 2px groove black;
    margin-right: auto;
    margin-left: auto;
    padding: 6px;
    text-decoration: none;
    font-size: 12px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #cfdeff;
    color: black;
    box-shadow: 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 white;
    -webkit-box-shadow: 0 1px 0 white;
}